.hello__title {
  padding: 16px;
  background-color: #e6e6e6;
}

.lookall__list {
  padding: 0;
  background-color: #FFF;

  md-list-item._md-button-wrap > div.md-button {
    padding: 16px;
  }

  md-list-item .md-list-item-text h4 {
    margin: 0 0 0 5px;
    line-height: normal;
    font-size: 14px;
  }
  
  md-list-item .md-list-item-text p {
    margin: 5px 0 5px 5px;
    line-height: normal;
    font-size: 13px;
  }

  md-list-item .md-list-item-inner {
    align-items: flex-start;
  }

  md-list-item .md-list-item-inner > img {
    padding-right: 8px;
  }

  .rating.label-visible {
    justify-content: start;
  }
}