<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools" ng-class="{'removeLeftPadding': $ctrl.back}">
    <h2 flex ng-hide="true">Lookalni</h2>
    <span flex>
        <img ng-hide="$ctrl.back" src="./../../../assets/images/logo.png" style="height: 24px;"/>
        <md-button ng-show="$ctrl.back" class="md-icon-button" aria-label="Back" ng-click="$ctrl.goBack()">
            <ng-md-icon icon="arrow_back" style="fill:#FFFFFF"></ng-md-icon>
        </md-button>
    </span>

    <md-button class="md-icon-button" aria-label="Search">
        <ng-md-icon icon="search" style="fill:#FFFFFF"></ng-md-icon> 
    </md-button>

    <md-button class="md-icon-button" aria-label="Like">
        <ng-md-icon icon="favorite" style="fill:#FFFFFF"></ng-md-icon>
    </md-button>

    <md-menu>
        <md-button aria-label="Otwórz menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
            <ng-md-icon icon="more_vert" style="fill:#FFFFFF"></ng-md-icon>
        </md-button>
        <md-menu-content width="2">
            <md-menu-item>
            <md-button ui-sref="app.main.login">
                Zaloguj
            </md-button>
            </md-menu-item>
            <md-menu-item>
            <md-button ui-sref="app.main.register">
                Zarajestruj
            </md-button>
            </md-menu-item>
        </md-menu-content>
        </md-menu>
  </div>
</md-toolbar>